body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.form-analyze {
    max-width: 330px;
    padding: 15px;
}

.form {
	max-width: 330px;
}

.form-analyze button {
	margin-top: 10px;
}

.form-analyze input {
	margin-bottom: 10px;
}

.inline {
	display: inline-block;
}

.centre {
	margin: 0 auto;
}

.loader {
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	width: 66px;
	height: 66px;
}

.app .error {
    margin-top: 15px;
    color: #FF0000;
    font-weight: bold;
}

.github-label {
    padding: 3px;
    margin-right: 13px;
    margin-left: 3px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    font-family: Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";
    font-size: 11px;
}
